@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-color: rgb(28, 28, 135);
    font-family: "Roboto", sans-serif;
}
.container{
    width: 50%;
    margin: 5% auto 0;
    height: 80%;
    box-shadow: 0px 4px 5px 2px rgba(44, 41, 69, 0.75);
}
.intro{
    background-color: #29227a;
    padding: 2em 7em;
}
.articles{
    background-color: rgb(28, 28, 135);
}
.text, .title{
    text-align: center;
}
.title{
    color: #1B9CFC;
    font-size: 2rem;
}
.text, .subtitle{
    color: rgb(175, 164, 164);
    margin: 0.5em;
}
ul{
    list-style: none;
}
li{
    color: rgb(175, 164, 164);
    font-size: 1.2em;
    padding: 0.5rem;

}
.icon{
    width: 15px;
}
.selected{
    background-color: #1B9CFC;
    color: white;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.dark{
    color:rgb(99, 95, 135);
}
